[submodule "lib/SDL2"]
	path = lib/SDL2
	url = git@github.com:Degenerate-States/SDL2
[submodule "lib/GLAD"]
	path = lib/GLAD
	url = git@github.com:Degenerate-States/GLAD
[submodule "lib/IMGUI"]
	path = lib/IMGUI
	url = https://github.com/Degenerate-States/IMGUI
